<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{NewTaskTitle}"></title>
</head>
<body>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="nl" th:text="#{lang.nl}"></option>
</select>

<form action="/tasks/new" method="post">
    <h2 th:text="#{AddTask}"></h2>
    <div>
        <label for="title"><span th:text="#{title}">: </span></label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="description"><span th:text="#{description}"></span>: </label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="time"><span th:text="#{date}"></span>: </label>
        <input type="datetime-local" name="time" id="time" value="2020-02-20T20:30">
    </div>
    <div hidden>
        <input type="number" name="id" id="id" th:value="*{nextid}">
    </div>
    <input type="submit" th:value="#{add}">
</form>

<button><a th:href="@{/tasks}"><span th:text="#{OverviewButton}"></span></a></button><br>
<button><a th:href="@{/}"><span th:text="#{IndexButton}"></span></a></button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

</body>
</html>
