<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{Tasks}">Tasks</title>
</head>
<body>
<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="nl" th:text="#{lang.nl}"></option>
</select>
<h2 th:text="#{Tasks}"></h2>
<table>
    <div th:unless="${#lists.isEmpty(tasks)}">
        <thead>
        <tr>
            <th th:text="#{title}"></th>
            <th th:text="#{date}">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="#{due} + ${task.time.dayOfMonth + ' ' + task.time.month + ' '+task.time.year}"></td>
            <div><td><a th:href="@{'/tasks/' +${task.id}}"><span th:text="#{Detail}"></span></a><a th:href="@{'/tasks/edit/' + ${task.id}}"><span th:text="#{Edit}"></span></a></td></div>
        </tr>
        </tbody>
    </div>
    <div th:if="${#lists.isEmpty(tasks)}">
        <h1 th:text="#{Notask}"></h1>
    </div>
</table>
<div>
    <button><a th:href="@{/new}"><span th:text="#{NewTaskButton}"></span></a></button><br>
    <button><a th:href="@{/}"><span th:text="#{IndexButton}"></span></a></button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

</body>
</html>
